# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# Streamlit
.streamlit/secrets.toml
credentials.json

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


# Data files (optional - uncomment if you don't want to upload data)
# *.csv
 *.xlsx
 *.xls
# *.db
# Training Files
Materi Training PM/